.custom-repositorio-documentos-negocio-portlet .filter-container-search {
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .custom-repositorio-documentos-negocio-portlet .filter-container-search {
    padding-bottom: 0;
  }
}

.custom-repositorio-documentos-negocio-portlet .filter-container-search form button.btn.btn-primary {
  background-color: #00A091 !important;
  border-radius: 4px;
  border: 1px solid #00A091 !important;
  box-shadow: none;
  height: 36px;
  margin-top: 27px;
  padding: 6px 10px;
}

.custom-repositorio-documentos-negocio-portlet .filter-container-search #admForm .span1 > button.btn {
  margin-top: 26px;
}