.custom-repositorio-documentos-negocio-portlet .container-title {
  padding-bottom: 40px;
}

.custom-repositorio-documentos-negocio-portlet .container-title h2 {
  color: #003642;
  font-family: 'Lato Regular';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
}

.custom-repositorio-documentos-negocio-portlet .container-title h3 {
  color: #7C8593;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 20px 0;
  text-align: center;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container {
  position: absolute;
  right: 20px;
  top: -12px;
}

@media (max-width: 767px) {
  .custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container {
    right: 4px;
    top: -32px;
    width: auto;
  }
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container .btn {
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: 0;
  padding: 0;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container.open .btn {
  background-color: transparent;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container .btn.dropdown-toggle {
  height: 24px;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container .dropdown-menu {
  background: #FFFFFF;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
  left: auto;
  margin: 0;
  padding: 12px 24px;
  right: 36px;
  top: 0;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container .dropdown-menu li button {
  color: #5E6572;
  font-size: 12px;
  line-height: 14px;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container .dropdown-menu li button svg {
  float: left;
}

.custom-repositorio-documentos-negocio-portlet .container-title .dropdown-container .dropdown-menu li button span {
  display: inline-block;
  padding: 5px 8px;
  width: 100%;
  text-align: left;
}