/* CUSTOMIZAÇÃO PARA AJUSTE DE GRID DA PÁGINA PARA QUANDO ESSE PORTLET FOR INSERIDO */

.wrapper.content-sicoob {
  padding: 0 8px;
}

/* RETIRANDO DIV VAZIA INSERIDA AUTOMATICAMENTE NA PÁGINA */ 
.yui3-widget.tabbable > .tabbable-content .nav.nav-tabs {
  display: none;
}

#lfr-look-and-feel .yui3-widget.tabbable > .tabbable-content .nav.nav-tabs {
  display: block;
}

/* CUSTOMIZAÇÃO DO PORTLET POR PÁGINA */

.custom-repositorio-documentos-negocio-portlet {
  margin-bottom: 65px;
}

.custom-repositorio-documentos-negocio-portlet {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
  margin-top: 16px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.custom-repositorio-documentos-negocio-portlet form {
  margin: 0;
}